<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="stylesheet" href="../style/mobilelanding.css">
  <link rel="stylesheet" href="../style/home.css">
  
  <title></title>
</head>
<body>
  <nav>
    <a href="index.html"></a>
    <a href="test.html"></a>
  </nav>
 <div class="container" id="container">
     <div id="locationcontainer">
         <label for="location">Where Would You Like to Go?</label>
         <input id="whereto" name="location" type="text" required></input>
     </div>
     <div class="datecontainer" id="datecontainer">
        <label for="datestart">What day will your trip start?</label>
        <input id="datestart" name="datestart" type="date" required></input>
        </br>
        <label for="datestart">What day will your trip end?</label>
      <input id="datestart" name="datestart" type="date" required></input>
     </div>
     <div id="submit">
        <input type="submit" value="Submit">
     </div>
 </div>
</body>
<footer>
  <p>Udacity FEND Final Capstone Project | Website by: <a href="https://ashehouse.com" target="_blank">Ashe House Creative</a></p>
</footer>
</html>